.navbar{
  margin-top: 20px;
}

.navbar-nav.navbar-right:last-child{
  margin-right: 0;
  padding-right: 50px;
} 

.navbar-brand{
  padding-left: 50px;
}

.buffer-20{
  margin-top: 20px;
  margin-bottom: 0;
}

.form-horizontal{
  margin: 0 auto 0 auto;
}

.push-left{
  padding-left: 70px;
}

.input-group-addon{
  text-align: center;
  font-weight: bold;
}

.input-group-addon p{
  font-size: 10px;
}

.nav-list-item{
  position: relative;
  display: block;
  padding: 15px 15px;
}

.ui-dialog > .ui-widget-header {
  background: #9447CC;
  border-color: #9B53CF;
}
.ui-button-text{
  color: black;
}

.jumbotron p {
  font-size: 18px;
}

.jumbotron h1 {
  font-size: 50px;
  margin-top: -8px;
}