.jumbotron p:last-child{
  font-style: italic;
  font-size: .85em;
  margin: 20px 0 -20px 0;
}

.list-group-heading{
  display: inline-block;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #A25016;
  letter-spacing: 2px;
}

.list-group, .list-group-item{
  background-color: transparent;
}

.list-group a:visited{
  color: #000;
}

.list-group a:hover{
  font-weight: 500;
  color: #6A85B8;
}

.spotlight-image{
  width: 200px;
  height: 120px;
}

.jumbotron{
  padding-top: 0;
  padding: 0 30px 30px 30px;
}

.sponsor-div{
  text-align: center;
  margin: 0 auto;
  font-weight: normal;
}

.quick-links{
  text-align: center;
}

.center-justified{
  font-size: 16px;
}

.glyphicon{
  color: #3A4958;
}

.col-xs-2{
  margin-left: 20px;
  margin-right: -50px;
}