.right-column{
    margin-top: -10px;
}

.row{
    margin-bottom: 10px;
}

.right-column a{
	display: block;
	margin-bottom: 20px;
}

.research-heading{
  margin: -20px auto 20px auto;
  max-width: 300px;
  text-align: center;
  border-bottom: 1px solid #000;
}

.center-justified{
  padding: 5px 15px 5px 15px;
}
