.side-navigation {
    text-align: left;
    padding: 0 5px 15px 20px;
    border-right: 1px dotted #000;
}

.quick-links{
  margin-bottom: 20px;
  padding: 20px 20px 20px 0;
}

.quick-links ul li {
  width: 60px;
}

.quick-links ul, .general-info ul{
  list-style-type: none;
}

.quick-links ul li:hover {
  list-style-type: circle;
}

.quick-links a, .general-info a{
  color: #393939;
}

.quick-links a:hover, .general-info a:hover{
  color: #000;
  text-decoration: none;
}

.quick-links h2, .general-info h2{
  font-size: 16px;
  border-bottom: 1px solid #000;
  width: 100%;
  margin-top: 16px;
  color: #04235F;
}

.general-info {
  margin-top: -10px;
  padding: 20px 20px 20px 0;
}

.general-info li {
  font-size: 12px;
  padding-bottom: 8px;
}
