<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>IMSA</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
	<div class="wrapper">
		<div class="page-header">
			<img src="images/paw.gif" alt="Clemson Paw Logo">
			<h1> <a href="index.html">IMSA</a> <small> Modeling, Systems, Analytics, and Visualization </small> </h1>
		</div>
		<nav class="navbar navbar-default" role="navigation">

		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="about.html" class="dropdown-toggle" > About </a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Leadership</a></li>
		          <li><a href="people.html">People</a></li>
		          <li><a href="location.html">Location</a></li>
		        </ul>
		      </li>
		    </ul>

		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="research.html" class="dropdown-toggle" > Research </a>
		        <ul class="dropdown-menu">
		          <li><a href="https://sites.google.com/site/clemsondagoba/">Big Data Systems</a></li>
		          <li><a href="#">Visualization</a></li>
		          <li><a href="#">Analytics</a></li>
		        </ul>
		      </li>
		      <li> <a href="affiliates.html">Affiliates</a> </li>
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#">Contact</a></li>
		    </ul>
		</nav>

		<div class="columns-container">
			<div class="columns-left">

				<div class="left-list-column">
					<h2 class="list-group-heading"> Quick Links </h2>
					<div class="list-group">
						<a class="list-group-item" href="location.html"> <span class="glyphicon glyphicon-flash"> Location </span> </a>
						<a class="list-group-item" href="people.html"> <span class="glyphicon glyphicon-flash"> People </span> </a>
					</div>
				</div>
			</div>

			<div class="columns-right">
				<div class="middle-list-column">
					<h2 class="list-group-heading"> Latest News </h2>
					<ul class="list-group">
						<li class="list-group-item"> Some news </li>
						<li class="list-group-item"> Some more news </li>
					</ul>
				</div>

				<div class="right-list-column">
					<h2 class="list-group-heading"> Spotlight </h2>
					<ul class="list-group spotlight">
						<li class="list-group-item"> <a href=""> <img class="spotlight-image" src="images/paw.gif"> </a></li>
						<li class="list-group-item spotlight-text"> <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non libero non odio ullamcorper mattis. Etiam sagittis felis nec lacinia dapibus. Sed metus est, semper ac turpis non, consequat hendrerit ante. </p> </li>
					</ul>
				</div>
			</div>
		</div>


		<div class="jumbotron">
			<h2 class="list-group-heading"> Welcome to IMSA </h2>
			<div class="center-justified">
				<p>IMSA areas of expertise include Modeling, Systems, Analytics, and Visualization.</p>   

				<p>IMSA is a nationally competitive scientific research institute that brings together academic partners, industry partners, and federal and state agencies with the cohesive mission of furthering research in visual and decision informatics.  IMSA serves to drive continuous innovation through knowledge sharing among partners leading to invention and commercialization of decision support technologies.</p>

				<p>IMSA provides expertise for advanced modeling using simulation and statistical techniques together with advanced visualization methods, tools, and technologies.  IMSA visualization augments research capability across a wide range of domain problems. </p>

				<p>IMSA is a Commission on Higher Education state-approved institute of South Carolina and reports to the Vice President for Research of Clemson University. </p>
			</div>
		</div>
		<div class="right-column"s>
			<h2 class="list-group-heading"> Sponsors </h2>
			<div class="sponsor-div">
				<a class=""><img src="images/nsf1.gif" alt="NSF Logo">
			</div>
		</div>
	</div>

	<div class="footer">
		<ol class="breadcrumb">
		  <li><a href="http://www.clemson.edu">Clemson University</a></li>
		  <li><a href="http://www.clemson.edu/ces/computing/">Clemson School of Computing</a></li>
		  <li><a href="http://www.clemson.edu/ces"> Clemson College of Engineering and Science</a></li>
		</ol>
	</div>

	<script src="js/jquery-2.0.3.min.js"> </script>
	<script src="bootstrap/js/bootstrap.min.js"> </script>
</body>
</html>