<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>IMSA</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/research.css">
</head>

<body>
	<div class="wrapper">
		<div class="page-header">
			<img src="images/paw.gif" alt="Clemson Paw Logo">
			<h1> <a href="index.html">IMSA</a> <small> Modeling, Systems, Analytics, and Visualizations </small> </h1>
		</div>
		<nav class="navbar navbar-default" role="navigation">

		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> About </a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Leadership</a></li>
		          <li><a href="people.html">People</a></li>
		          <li><a href="location.html">Location</a></li>
		        </ul>
		      </li>
		    </ul>

		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Research </a>
		        <ul class="dropdown-menu">
		          <li><a href="https://sites.google.com/site/clemsondagoba/">Big Data Systems</a></li>
		          <li><a href="#">Visualizations</a></li>
		          <li><a href="#">Analytics</a></li>
		        </ul>
		      </li>
		      <li> <a href="affiliates.html"> Affiliates </a> </li>
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#">Contact</a></li>
		    </ul>
		</nav>

		<div class="jumbotron">
			<h1> Our Research </h1>
			<div class="center-justified">
				<p>Research thrust areas include information visualization, scientific visualization, Big Data analytics and systems, with application areas that include health, medicine, transportation data systems, simulation and statistical models of complex systems.</p>

				<p>In areas of heath, IMSA provides expertise for education, simulation, emulation, analytics, natural language processing, and visualization of health and medical data, information, and processes.  Other issues of relevance include privacy and security of medical information.   The IMSA health area is collaborative and complementary to work in Bioengineering, CUGI, and Nursing.  IMSA health augments their research by bringing advanced computing research, methods, algorithms, and technologies to bear on the significant health related problems of our society.</p>

				<p>In areas of transportation, IMSA provides expertise for complex systems analytics, Big Data processing, and visualization of transportation data.  The IMSA transportation area is collaborative and complementary to ICAR – providing advanced computing expertise to support automotive research, assembly, connected vehicle, and other problems of interest to ICAR.  IMSA is complementary to CELDI by providing advanced support for heterogeneous sources, data fusion, and scalable data systems.</p>

				<p>IMSA employs full time software development professionals who provide expertise and services for paid projects.  IMSA will match projects and programming staff on an on-going basis.  Employment and research experience opportunities are available for students.</p>
			</div>
		</div>
		<div class="right-column"s>
			<a class=""><img src="images/nsf1.gif" alt="NSF Logo">
		</div>
	</div>

	<div class="footer">
		<ol class="breadcrumb">
		  <li><a href="http://www.clemson.edu">Clemson University</a></li>
		  <li><a href="http://www.clemson.edu/ces/computing/">Clemson School of Computing</a></li>
		  <li><a href="http://www.clemson.edu/ces"> Clemson College of Engineering and Science</a></li>
		</ol>
	</div>

	<script src="js/jquery-2.0.3.min.js"> </script>
	<script src="bootstrap/js/bootstrap.min.js"> </script>
</body>
</html>